<div ng-app="myApp" ng-controller="formCtrl">
    <form novalidate ng-hide="myVar">
        Nazwa Turnieju:
        <br>
        <input type="text" ng-model="tournament.name">
        <br> Wybierz tryb:
        <br>
        <select ng-model="tournament.gameMode">
            <option ng-repeat="x in gameModes" value="{{x}}">{{x}}</option>
        </select>
        <br> Czas trawnia meczu + przerwa [min]:
        <br>
        <input type="text" ng-model="tournament.matchTime">
        <br> Ilość stanowisk:
        <br>
        <input type="number" ng-model="tournament.stations">
        <br>
    </form>
    <br> Hide HTML form:
    <input type="checkbox" ng-model="myVar">
    <br>
    <br>
    <fieldset data-ng-repeat="choice in tournament.players">
        {{choice.id}}
        <input type="text" ng-model="choice.name" name="" placeholder="Enter player name">
        <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
    </fieldset>
    <button class="addfields" ng-click="addNewChoice()">Add players</button>
    <br>
    <br>
    <button ng-click="reset()">RESET</button>
    <br>
    <br>
    <button ng-click="saveTournamentData()">Zapisz dane</button>
    <div>
        <h3>Debug:</h3>
        <p>form = {{tournament}}</p>
        <p>master = {{master}}</p>
    </div>
</div>