<hr>
<div onclick="window.location.href='#createTournament'">
    <h3>New Tournamnet</h3>
</div>
<hr>
<div onclick="window.location.href='shedule.html'">
    <h3>My Tournaments</h3>
</div>
<hr>
<div onclick="window.location.href='#'">
    <h3>Settings</h3>
</div>
<hr>