<div ng-hide="state1">
    <h3>Draw a Match</h3>
    <button ng-click="nextMatch();state1=true;state2=false">Draw</button>
</div>
<div ng-hide="state2">
    <h3>Play Match</h3> <a>{{drawnPlayer1}}</a> VS <a>{{drawnPlayer2}}</a>
    <button ng-click="state2=true;state3=false">GO</button>
</div>

<form ng-hide="state3">
    <div>
        <label id="label1">{{drawnPlayer1}}</label>
        <br>
        <input id="input1" type="number" pattern="[0-9]*" value="0" ng-model="score1"> {{score1}}
        <br>
        <br>
        <label id="label2">{{drawnPlayer2}}</label>
        <br>
        <input id="input2" type="number" pattern="[0-9]*" value="0" ng-model="score2"> {{score2}}
        <br>
        <input type="submit" value="Save" ng-click="state3=true;state1=false;saveScore()">
    </div>
</form>
<br>
<div>
    Order:
    <select ng-model="tableSortOrder">
        <option value="+name">Name</option>
        <option value="-points">Points</option>
        <option value="-lose">Lose</option>
        <option value="-win">Win</option>
        <option value="-draw">Draw</option>
        <option value="-goals">Goal</option>
        <option value="-lostGoals">GoalLost</option>
    </select>
</div>
<br>
<table class="firstScreen responsive">
    <thead>
        <tr>
            <th>lp.</th>
            <th>Drużyna</th>
            <th>M</th>
            <th>Pkt</th>
            <th>Br.</th>
            <th>Zw.</th>
            <th>R</th>
            <th>Por.</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="player in tablePlayers | orderBy:tableSortOrder">
            <td>{{$index+1}}</td>
            <td>
                <a>{{player.name}}</a>
            </td>
            <td>{{player.matches}}</td>
            <td>{{player.points}}</td>
            <td>{{player.goals}} - {{player.lostGoals}} </td>
            <td>{{player.win}}</td>
            <td>{{player.draw}}</td>
            <td>{{player.lose}}</td>
        </tr>
    </tbody>
</table>
<br>
<div>
    <b>Debug:</b>
    <br> {{tablePlayers}}

</div>
</div>