<h1></h1>
<h2>Drużyny</h2>
<h3 id="test"></h3>
<table style="font-size: 30px;">
    <thead>
        <tr>
            <th>lp.</th>
            <th>Mecz</th>
            <th>Godz.</th>
            <th>Wynik</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>